body {
    font-family: 'arial', Arial, Helvetica, sans-serif;
    color: #777;
    background: #777;
    width: 960px;
    font-size: 18px;    
}

div {
    color:black;
    background-color: #ebebeb;
    font-weight: bold;
    font-family: 'Arial', 'Helvetica-Neue', Helvetica, sans-serif;
    text-align: center;
    border: 1px solid black;
    box-sizing: border-box;

    }

#article {
    text-align: center;
    background-color:#777;
}