body {
    font-family: 'arial', Arial, Helvetica, sans-serif;
    color: #777;
    background: #777;
    width: 960px;
    font-size: 18px;
    margin: 0 auto;
}

div {
    color:black;
    background-color: #ebebeb;
    font-family: 'Arial', 'Helvetica-Neue', Helvetica, sans-serif;
    text-align: center;
    }

#article {
    text-align: center;
    background-color:#777;
    text-color: #ebebeb;
}